:root {
  --bg: #1a1e2d;
  --green: #a5ea9b;
  --pink: #ff61d8;
  --blue: #569cfa;
  --orange: #ffcc81;
  --cyan: #7ed1e2;
  --purple: #888198;
  --gray: #5f626d;
}

body {
  background-color: var(--bg);
  padding: 10px 80px;
  position: relative;
  font-family: "Mono", space-mono;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

#about p {
  color: var(--purple);
}

h1 {
  color: #fff;
  font-family: "Mono", space-mono;
  position: relative;
}
h1:hover {
  transition: transform 0.3s ease;
  color: var(--bg);
}
h1::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  /* background: hsl(200 100% 80%); */
  background: var(--green);
  z-index: -1;
  transition: transform 0.3s ease;
}

.desktop-only {
    display: none; /* Initially hide the section */
}

@media (min-width: 768px) {
    .desktop-only {
        display: block; /* Display the section on screens wider than 768px */
    }
}


#typing-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

#typing-animation span {
  color: var(--orange);
  font-style: italic;
  width: max-content;
}

.icon {
  width: 46px;
  height: 46px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
  margin-bottom: 20px;
}

.grid-item {
  background-color: #fafafa;
  border-radius: 8px;
  font-size: 30px;
  text-align: center;
  width: 60px;
  height: 60px;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
  position: relative;
  overflow: hidden;
}

.grid-item:hover {
  transform: scale(1.3);
}

@media (min-width: 1032px) {
  .grid-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000046; /* Adjust the transparency here */
    opacity: 1; /* Start with cover invisible */
    transition: opacity 0.3s; /* Add transition effect */
  }

  .grid-item:hover::after {
    opacity: 0; /* Make cover visible on hover */
  }
}

@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (max-width: 767px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.container {
  color: var(--cyan);
  font-size: 1.5rem;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.right {
  text-align: right;
  width: 100%;
}

.stack {
  display: grid;
  grid-template-columns: 1fr;
}

.stack span {
  font-weight: bold;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 2rem;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(0.46, 0.29, 0, 1.24) 1 backwards
      calc(var(--index) * 120ms),
    glitch 2s ease infinite 2s alternate-reverse;
}

.stack span:nth-child(odd) {
  --glitch-translate: 8px;
}
.stack span:nth-child(even) {
  --glitch-translate: -8px;
}

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
  }
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  4%,
  100% {
    text-shadow: none;
    transform: none;
  }
}

footer {
  position: fixed;
  color: var(--gray);
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}

hr {
  border: none;
  height: 1px;
  background: #4140406b; /* Adjust the last value (0.2) for transparency */
}

/* hi*/
.pl {
  display: block;
  margin: auto;
  width: 16em;
  height: auto;
}
.pl line {
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.pl__line1,
.pl__line9 {
  animation-name: line1;
}
.pl__line2,
.pl__line8 {
  animation-name: line2;
}
.pl__line3,
.pl__line7 {
  animation-name: line3;
}
.pl__line4,
.pl__line6 {
  animation-name: line4;
}
.pl__line5 {
  animation-name: line5;
}

/* Dark theme
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),90%,10%);
		--fg: hsl(var(--hue),90%,90%);
	}
} */

/* Animations */
@keyframes line1 {
  from,
  8% {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  18% {
    stroke-dashoffset: 16;
    transform: translate(0, 8px);
  }
  28% {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  38% {
    stroke-dashoffset: 0;
    transform: translate(0, 0);
  }
  48% {
    opacity: 1;
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  53% {
    opacity: 0;
    stroke-dashoffset: 31.99;
    transform: translate(8px, 16px);
  }
  56% {
    animation-timing-function: steps(1, start);
    opacity: 0;
    stroke-dashoffset: 32;
    transform: translate(0, 16px);
  }
  60% {
    animation-timing-function: ease-out;
    opacity: 1;
    stroke-dashoffset: 32;
    transform: translate(0, 16px);
  }
  70% {
    animation-timing-function: ease-in-out;
    stroke-dashoffset: 0;
    transform: translate(0, 0);
  }
  80% {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  90% {
    stroke-dashoffset: 16;
    transform: translate(0, 8px);
  }
  to {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
}
@keyframes line2 {
  from,
  6% {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  16% {
    stroke-dashoffset: 16;
    transform: translate(0, 8px);
  }
  26% {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  36% {
    stroke-dashoffset: 0;
    transform: translate(0, 0);
  }
  46% {
    opacity: 1;
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  51% {
    opacity: 0;
    stroke-dashoffset: 31.99;
    transform: translate(8px, 16px);
  }
  54% {
    animation-timing-function: steps(1, start);
    opacity: 0;
    stroke-dashoffset: 32;
    transform: translate(0, 16px);
  }
  58% {
    animation-timing-function: ease-out;
    opacity: 1;
    stroke-dashoffset: 32;
    transform: translate(0, 16px);
  }
  68% {
    animation-timing-function: ease-in-out;
    stroke-dashoffset: 0;
    transform: translate(0, 0);
  }
  78% {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  88% {
    stroke-dashoffset: 16;
    transform: translate(0, 8px);
  }
  98%,
  to {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
}
@keyframes line3 {
  from,
  4% {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  14% {
    stroke-dashoffset: 16;
    transform: translate(0, 8px);
  }
  24% {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  34% {
    stroke-dashoffset: 0;
    transform: translate(0, 0);
  }
  44% {
    opacity: 1;
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  49% {
    opacity: 0;
    stroke-dashoffset: 31.99;
    transform: translate(8px, 16px);
  }
  52% {
    animation-timing-function: steps(1, start);
    opacity: 0;
    stroke-dashoffset: 32;
    transform: translate(0, 16px);
  }
  56% {
    animation-timing-function: ease-out;
    opacity: 1;
    stroke-dashoffset: 32;
    transform: translate(0, 16px);
  }
  66% {
    animation-timing-function: ease-in-out;
    stroke-dashoffset: 0;
    transform: translate(0, 0);
  }
  76% {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  86% {
    stroke-dashoffset: 16;
    transform: translate(0, 8px);
  }
  96%,
  to {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
}
@keyframes line4 {
  from,
  2% {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  12% {
    stroke-dashoffset: 16;
    transform: translate(0, 8px);
  }
  22% {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  32% {
    stroke-dashoffset: 0;
    transform: translate(0, 0);
  }
  42% {
    opacity: 1;
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  47% {
    opacity: 0;
    stroke-dashoffset: 31.99;
    transform: translate(8px, 16px);
  }
  50% {
    animation-timing-function: steps(1, start);
    opacity: 0;
    stroke-dashoffset: 32;
    transform: translate(0, 16px);
  }
  54% {
    animation-timing-function: ease-out;
    opacity: 1;
    stroke-dashoffset: 32;
    transform: translate(0, 16px);
  }
  64% {
    animation-timing-function: ease-in-out;
    stroke-dashoffset: 0;
    transform: translate(0, 0);
  }
  74% {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  84% {
    stroke-dashoffset: 16;
    transform: translate(0, 8px);
  }
  94%,
  to {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
}
@keyframes line5 {
  from {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  10% {
    stroke-dashoffset: 16;
    transform: translate(0, 8px);
  }
  20% {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  30% {
    stroke-dashoffset: 0;
    transform: translate(0, 0);
  }
  40% {
    stroke-dashoffset: -16;
    transform: translate(0, 15px);
  }
  50% {
    stroke-dashoffset: -31;
    transform: translate(0, -48px);
  }
  58% {
    stroke-dashoffset: -31;
    transform: translate(0, 8px);
  }
  65% {
    stroke-dashoffset: -31.99;
    transform: translate(0, -24px);
  }
  71.99% {
    animation-timing-function: steps(1);
    stroke-dashoffset: -31.99;
    transform: translate(0, -16px);
  }
  72% {
    animation-timing-function: ease-in-out;
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  82% {
    stroke-dashoffset: 16;
    transform: translate(0, 8px);
  }
  92%,
  to {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
}

marquee {
  color:var(--cyan);
}