body {
  /* background-color: #040d12; */
  height: 100%;
}

.rubik-head {
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.search-container {
  width: 60%;
  max-width: 500px;
  border-radius: 20px;
  position: relative; /* To position the suggestions */
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 8px 0px rgba(60, 64, 67, 0.25);
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.search-bar i {
  color: #9ca3af; 
  margin-right: 10px;
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  color: #4b5563;
}

.search-bar .fa-microphone {
  margin-left: 10px;
  cursor: pointer;
}

.suggestions {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none; /* Hidden by default */
  position: absolute;
  top: 100%; /* Position below the search bar */
  left: 0;
  right: 0;
  z-index: 10;
}

.suggestions li {
  padding: 10px 20px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #f9fafb;
}
.suggestions li {
  padding: 10px 20px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #f9fafb;
}

.search-container.active {
  border-radius: 10px 10px 0 0;
}

.sitelink {
  color: blue;
  font-weight: 500;
  font-size: smaller;
}

.sitehead {
  font-weight: 500;
  font-size: smaller;
}
